@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "status-bar.css";
@import "screen-header.css";
@import "nav-bar.css";
@import "user-component.css";
@import "badge.css";
@import "icon-row.css";
@import "alt-screen-header.css";

/* Screens */
@import "login.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "chat.css";

body {
  font-family: "Nunito", sans-serif;
}
