.user-component {
  /* border: var(--border); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-component__column {
  /* border: var(--border); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.user-component__column:nth-child(2) {
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30%;
  margin-right: 20px;
}
.user-component__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.user-component__title--sm {
  font-size: 25px;
  margin-bottom: 10px;
}
.user-component__subtitle {
  font-size: 15px;
  color: var(--gray-color);
}
.user-component__avatar--lg {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  margin-right: 20px;
}
.user-component__column--time {
  font-size: 15px;
  margin-bottom: 10px;
}
