body {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  width: 240px;
  height: 240px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.box__inside {
  margin: 10px;
  height: 50px;
  width: 50px;
  background-color: teal;
  border: 2px solid white;
}
.top_box {
  height: 50px;
}
.middle_box {
  border: 2px dashed white;
  width: 200px;
}
.bottom_box {
  height: 50px;
}
